:root {
    --btncol: #ef7d61;
    --btnhav: #de4836;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color:rgb(255, 255, 255) ;
}

body::-webkit-scrollbar {
    display: none;
}

.navTop {
    width: 100%;
    height: 83px;
    background-color: rgb(243, 242, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    top: 0;
} 

.navContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.navLift {
    width: 250px;
    margin-left: 50px;
}

.navLift img {
    object-fit: cover;
    width: 70%;
}

.navCenter {
    width: 700px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
   
}

@media screen and (max-width: 768px) {
    .navCenter {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 83px;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: #f0ecd8;
        transition: .5s;
        z-index: 300;
    }
    .navText {
        margin-bottom: 50px;
    }
    .oneText {
        display: none;
    }
    .twoText {
        display: none;
    }
    .treText {
        display: none;
    }
    .centerItem .fouText {
        width: 70px;
    }
    .fouText p{
        width: 70px;
        font-size: 10px;
    }
}
.show {
    right: 0;
}
@media screen and (min-width: 768px){
    .nav__toggle {
        display: none;
    }
}

.navCenter .navText .navItem {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    
}


.navCenter .navText .navItem:hover {
    color: #7F615c;
    transition: .8s;
}

.navText a {
    position: relative;
}

.navText a::after {
    content: '';
   position: absolute; 
   left: 0%;
   height: 25px;
   width: 0%;
   transition: .5s;
}
.navText a:hover::after{
    height: 25px;
   width: 100%;
   transition: 1s;
   border-bottom: 1px solid red;
}


.navText a::before {
    content: '';
   position: absolute; 
   right: 0%;
   height: 25px;
   width: 0%; 
   transition: .5s;
}
.navText a:hover::before{
    height: 25px;
   width: 100%;
   transition: 1s;
   border-bottom: 1px solid red;
}
.nav__toggle {
    color: #af765c;
    font-size: 1.5rem;
    cursor: pointer;
}


.navIcon {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navIcon .fa {
    width: 30px;
    height: 30px;
    font-weight: 900;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    background-color: #af997c;
    color: white;
    border-radius: 50%;
    margin: 0 0 0 18px;
}

#searchIcon {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    background-color: #af997c;
    color: white;
    border-radius: 50%;
    margin: 5px 0px 0 0;
    position: relative;
    right: 390%;
}
/* 馬的這裡寫得有夠亂 */
#mySearch {
    display: none;
}

.myclose {
    display: none;
}

.carouselTemp {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
.carousel-item img {
    width: 100%;
}

.carousel-indicators {
    bottom: 50px;
}

/* bt輪播圖上下張顏色 */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237f6c51' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237f6c51' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

 /* bt指標接觸顏色 */
.carousel-indicators .active{
    width: 8px;
    height: 8px;
    background-color: #af997c;
    border-radius: 50%;
}
/* bt未指標接觸顏色 */
.carousel-indicators li {
    background-color: #af997c;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

/* 輪播圖中間懸浮字 */
.centerTextCtn {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerTextCtn .centerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.oneText {
    font-size: 1rem;
    line-height: 16px;
}

.twoText {
    font-size: 90px;
    line-height: 48px;
    font-weight: 600;
}

.treText {
    font-size: 16px;
    line-height: 28px;
}

.fouText {
    height: 46px;
    width: 255px;
    font-size: 20px;
    border: 1px solid #7F6c51;
    background-color: #7F6c51;
    text-align: center;
    line-height: 46px;
    border-radius: 60px;
    cursor: pointer; 
    color: white;
}

.fouText:hover {
    background-color: #61513c;
    transition: .5s;
}

/* 登入表單 */
.loginCon {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: none;
}

.loginItem{
    width: 464px;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    /*改成絕對定位的致中方式，因父層flix設定display none會跑版  */
    position: relative;
    top: 50%;      
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 5px 11px #4e4e4e;
}

.loginImg {
    margin-bottom: 30px;
    padding-top: 30px;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
    font-size: 28px;
    font-weight: 900;
}

#userId,#userPassword {
    width: 268px;
    height: 48px;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    font-size: 16px;
    padding-left:10px ;
}
#userId {
}

#userPassword:focus {
    outline: 0px solid #7F6c51;
    border-radius: 10px;
    border-color: var(--btncol);
    transition: .5s;
}
#userId:focus {
    outline: 0px solid #7F6c51;
    border-radius: 10px;
    border-color: var(--btncol);
    transition: .5s;
}
.group{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
    margin-left: 96px;
}
.member-form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #DADCE0;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}
.member-form-input::placeholder{
    color: transparent; 
}
.member-form-label{
    position: absolute;
    left: 1rem;
    top: .6rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}
.member-form-input:focus +  .member-form-label{
    top: -.5rem;
    left: .8rem;
    color: #1A73E8;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}
.member-form-input:not(:placeholder-shown).member-form-input:not(:focus)+ .member-form-label{
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
  }

.forget {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 50%;
    position: relative;
    left: 20px;
}

.forget :hover {
    color: #7F615c;
    text-decoration: none;
}

.loginBtn {
    width: 100%;
    margin-top: 30px;
}

.btn1 {
    width: 268px;
    height: 40px;
    border: none;
    border-radius: 30px;
}
.btn1:hover {
    color: var(--btnhav);
    transition: .5s;
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.btn1:focus {
    outline: none;
}

#bb {
    position: relative;
}

.b {
    width: 170px;
    height: 30px;
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 0px;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
}

#searchIcon {
    background-color: var(--btncol);
}

.b:focus {
    outline: 0px solid #7F6c51;
    border-radius: 10px;
    border-color: var(--btncol);
}

.c {
    width: 5px;
    height: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    border: none;
}

.myclose {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.myclose:hover {
    text-decoration: none;
    color: #7F6c51;
}
#eyseOpen{
    margin-left: auto;
    margin-right: 20px;
    position: absolute;
    right: 90px;
    z-index: 100;
    display: none;
    font-size: 20px;
    line-height: 48px;
}


#eyseOpen-2{
  margin-left: auto;
  margin-right: 10px;
  margin-right: 20px;
  position: absolute;
  right: 90px;
  z-index: 100;
  font-size: 20px;
  line-height: 48px;
}



/* 人氣分類 */
.Classification {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Classification .classOne {
    margin: 60px 0 60px 0;
    position: relative;
}

.Classification .classOne h4 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

.Classification .classOne::before {
    content: '';
    height: 8px;
    width: 8px;
    left: 2px;
    border-radius: 50%;
    background-color: #af997c;
    top: 40px;
    left: 58px;
    /* bottom: 10px; */
    margin: auto;
    position: absolute;
    box-shadow: 15px 0px 0 #af997c,
                -15px 0px 0 #af997c; 
}

.classTow {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 60px;
}

.twoImg {
    border-radius: 50%;
    overflow: hidden;
    margin: 50px;
    width: 100px;
    height: 100px;
    position: relative;
}

.twoImg img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mytwoText {
    text-align: center;
    position: relative;
    bottom: 40px;
}

.mytwoText a {
    text-decoration: none;
    color: #473e31;
    font-size: 20px;
    font-weight: 600;
    
}

.mytwoText a:hover{
    color: #7f6c51;
}

/* 熱銷好評 */
.wrapHot {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.wrapHot .hotContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hotContainer .hotItem {
    width: 255px;
    border-radius: 10px;
    margin: 10px; 
}

.hotItem:hover {
    transition: .5s;
    box-shadow:4px 6px 10px rgb(201, 201, 201) ;
}

.hotPic {
    margin: auto;
}
.hotPic  {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 245px;
    height: 255px;
}

.hotPic img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.hotText {
    position: relative;
    padding: 8px;
}

.hotTexOne {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #959595;
}

.hotText .hotTexTwo {
    text-decoration: none;
}

.hotTexTwo p {
    font-size: 16px;
    color: #1e1e1e;
    text-decoration: none;
}

.hotTexTre {
    font-size: 14px;
    color:#747c83;
    text-decoration:line-through
}

.hotTexFul {
    font-size: 20px;
    color: #f77567;
    font-weight: 600;
    
}

.hotBtn {
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    display: block;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: #7F6c51;
    color: white;
}

.hotBtn:hover {
    color: white;
    background-color: #9c876b;
    transition: .5s;

}

.hotItem .hotBtn {
    text-decoration: none;
}

.hotTexFiv {
    position: absolute;
    bottom: 0px;
    left: 170px;
    font-size: 15px;
    color: #af997c;
}

.wrapHot .classOne {
    margin: 60px 0 60px 0;
    position: relative;
}

.wrapHot .classOne h4 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

.wrapHot .classOne::before {
    content: '';
    height: 8px;
    width: 8px;
    left: 2px;
    border-radius: 50%;
    background-color: #af997c;
    top: 40px;
    left: 58px;
    /* bottom: 10px; */
    margin: auto;
    position: absolute;
    box-shadow: 15px 0px 0 #af997c,
                -15px 0px 0 #af997c; 
}

/* 向上鍵 */
.myTop {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.myTop:hover {
    display: inline-block;
    animation: bounce; /* 引用動畫的 @keyframe 名稱 */
    animation-duration: 1.4s; /* 設定持續時間 */
    animation-iteration-count: infinite;
    box-shadow:0px 8px 5px #524636;
}

.myTop img {
    width: 100%;
    height: 100%;
    
}

/* 低脂雞胸肉凍乾 */
.maoSection {
    width: 100%;
    height: 423px;
    margin: 100px 0 30px 0;
}
.maoContainer {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
}
.maoleft {
    width: 40%;
    height: 100%;
}
.maoleft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.maoright {
    width: 60%;
    height: 100%;
    background-color: #f1eee7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dry {
    font-size: 24px;
    font-weight: 600;
    color: #7f6c51;
    margin-bottom: 20px;
}
.ptext p {
    line-height: 17px;
    font-size: 16px;
}
.ptext {
    text-align: center;
}
.pay {
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
}
@media screen and (max-width: 768px){
    .maoContainer{
        display: flex;
        flex-direction: column;
    }
    .maoleft{
        width: 50%;
        height: 50%;
    }
    .maoright{
        width: 50%;
        height: 50%;
    }
    .dry {
    font-size: 14px;
    font-weight: 600;
    }
.ptext p {
    line-height: 10px;
    font-size: 13px;
    }
    .pay {
    font-size: 20px;
    }
}
/* 開箱評測 */
.inneritem {
    width: 285px;
    height: 270px;
}
.byNow {
    border: 1px solid #7f6c51;
    color: #7f6c51;
    background-color: white;
    border-radius: 25px;
    font-size: 17px;
    width: 192px;
    height: 40px;
    transition: .5s;
}
.byNow:hover {
    color: white;
    background-color:#7f6c51 ;
}
.item-img {
    width: 255px;
    height: 193px;
    border-radius: 15px;
    overflow: hidden;
}
.item-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 1.5s;
}
.item-img img:hover {
    transform: scale(1.3);
}
.item-title {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.nest-section {
    width: 100%;
    height: 588px;
    display: flex;
}
.nest-lift {
    background-color: #f1eee7;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.nest-item {
    width: 512px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 20px rgb(201, 201, 201);
    padding: 0 120px;
}
.my-item {
    text-align: center;
    margin-bottom: 30px;
}
.my-item h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: -1px;
}
.nest-text {
    font-size: .7rem;
    line-height: 28px;
    text-align: center;
}
.nest-btn {
    width: 228px;
    height: 48px;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 30px;
    color: #7f6c51;
    border: none;
}
.nest-btn:hover {
    background-color: #7f6c51;
    color: white;
    transition: .5s;
}
.nest-btn:focus {
    outline: none;
}
.nest-right {
    width: 50%;
    overflow: hidden;
    background-color: #f1eee7;
    display: flex;
    align-items: center;
}
.nest-right img {
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width:1024px) {
    .nest-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
}

/* 毛孩ＱＡ ------------------------------*/
.evaluation2 {
    width: 100%;
}
.evaluation-inner2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inneritem2 {
    width: 349px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inneritem2 a {
    text-decoration: none;
    color: black;
}
.item-img2 {
    width: 255px;
    height: 193px;
    border-radius: 15px;
    overflow: hidden;
}
.item-img2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 1.5s;
}
.item-img2 img:hover {
    transform: scale(1.3);
}
.item-title2 {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* AJAX部分 */
#content {
    width: 100%;
    height: 300px;
    background-color: rgb(211, 211, 211);
}
#container {
    padding: 20px 80px;
}
.containerh1 {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.5rem;
}
.containerP {
    margin: 0.5rem;
    font-size: 1rem;
    text-align: left;
}
.current {
    border-bottom: .5rem #3fbb8a solid;
    border-radius: 10px;
}
.inneritem2 a {
    text-decoration: none;
    color: black;
}        

/* footer */
.footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}
.footerContainer {
    width: 100%;
    height: 280px;
    background-color: black;
    display: flex;
    align-items: center;
}
.footerItem {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.connImg h1 {
    font-size: 28px;
    color: white;
    margin: 10px 0 20px 0;
}
.connection i {
    display: block;
    color: white;
    margin-bottom: 17px;
    font-weight: 600;
}
.related {
    width: 480px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.related p {
    cursor: pointer;
}
.related p:hover {
    color: #af997c;
}
@media screen and (max-width:768px){
    .related {
        display: none;
    }
}